html {
    height: 100%;
}

body {
    background-color: #89a02c;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Pacifico;
    color: #89a02c;
    ;
    overflow: hidden;
}

.keyboard-base {
    padding: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
}

.key {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
}

.hiddenKey {
    background-color: rgba(77, 77, 77, 0.198);
    pointer-events: none;
}

.key:hover {
    opacity: 0.5;
    cursor: pointer;
}

.big {
    grid-column: span 4;
}

.medium {
    grid-column: span 3;
}

.leftshift {
    grid-column: span 5;
}

.space {
    grid-column: span 20;
    margin-left: 300px;
}

#playButton {
    position: absolute;
    background-color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer !important;
    margin-bottom: 15px;
    z-index: 2;
}

.blocked{
    pointer-events: none;
}

.pressedKey {
    -webkit-animation: highlightKey 0.5s ease-in-out;
    -moz-animation: highlightKey 0.5s ease-in-out;
    -o-animation: highlightKey 0.5s ease-in;
    animation: highlightKey 0.5s ease-in-out;
}

@-webkit-keyframes highlightKey {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes highlightKey {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes highlightKey {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes highlightKey {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.activeNote {
    -webkit-animation: highlightNote 0.5s ease-in-out;
    -moz-animation: highlightNote 0.5s ease-in-out;
    -o-animation: highlightNote 0.5s ease-in;
    animation: highlightNote 0.5s ease-in-out;
}

@-webkit-keyframes highlightNote {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes highlightNote {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes highlightNote {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes highlightNote {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}